<h2>Build your own</h2>
<%= simple_form_for @sundae do |f| %>
    <%= f.association :cone, collection: @cones %>
    <%= f.association :ice_cream_flavour, collection: @flavours %>
    <%= f.association :ice_cream_type, collection: @types %>
    <%= f.association :topping, collection: @toppings %>
    <%= f.submit "Get rate" %>
<% end %>