<h1>Your total is...</h1>
<ul>
    <li>cone: <%= @sundae.cone.name %></li>
    <li>topping: <%= @sundae.topping.name %></li>
    <li>ice cream flavour: <%= @sundae.ice_cream_flavour.name %></li>
    <li>ice cream type: <%= @sundae.ice_cream_type.name %></li>
    <li>total: $<%= @total %></li>
</ul>